@import '../styles/variables';
@import '../styles/mixins';

.error-container {
  color: $mainTextColor;
}

.error-container > h2 {
  margin: 0;
}

.error-container > a {
  text-decoration: none;
  color: $mainTextColor;
  font-size: 2.5vh;
}

.error-message-home-link {
  @include hover-transform();
}