.navigation-container-random-show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav-link-container-random-show {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 22vw;
}

.nav-link-container-random-show > a,
.nav-link-container-random-show > button {
  background-color: transparent;
  color: #FFF;
  font-family: inherit;
  font-size: 2vh;
  border: none;
  margin: 8%;
  text-decoration: none;
}

.random-show-link {
  width: 20vw;
}

.nav-link-container-random-show > button:hover {
  cursor: pointer;
}

@media screen and (min-device-width: 0px) and (max-device-width: 800px) {
  .navigation-container-random-show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 109%;
  }
}