.tracks-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 19px;
  width: 96vw;
  margin: 0;
}

.track-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f6f5f6;
  border: 5px solid black;
  text-decoration: none;
  color: #000;
  font-size: 2vh;
  padding: 10px;
  width: 21.8vw;
}

@media screen and (min-device-width: 0px) and (max-device-width: 800px) {
  .track-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f6f5f6;
    border: 5px solid black;
    text-decoration: none;
    color: #000;
    font-size: 2vh;
    padding: 10px;
    width: 67vw;
  }
}