.year-card {
  background-color: #f6f5f6;
  border: 5px solid black;
  text-decoration: none;
  color: black;
  font-size: 2.5vh;
  padding: 10px;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition-duration: .15s;
    box-shadow: 5px 5px 25px gold;
  }
  &:focus {
    cursor: pointer;
    transform: scale(1.03);
    transition-duration: .15s;
    box-shadow: 5px 5px 25px gold;
  }
}

.year-card > img {
  width: 100%;
}

@media screen and (min-device-width: 0px) and (max-device-width: 800px) {
  .year-card {
    width: 50%;
  }
}