@import '../styles/variables';
@import '../styles/mixins';

.playlist-card {
  @include display-flex(column, space-between, normal);
  background-color: #f6f5f6;
  border: 5px solid black;
  text-decoration: none;
  color: #000;
  font-size: 2vh;
  padding: 10px;
  width: 21.8vw;
  border-radius: 10px;
  &:hover {
    transition-duration: .15s;
    box-shadow: 5px 5px 25px gold;
  }
  &:focus {
    transition-duration: .15s;
    box-shadow: 5px 5px 25px gold;
  }
}

.remove-from-playlist-button {
  width: 65%;
  height: 3.5vh;
  border-radius: 10px;
  border: none;
  background-color: #4b0092;
  color: $mainTextColor;
  font-family: inherit;
  align-self: center;
  cursor: pointer;
}

@media screen and (min-device-width: 0px) and (max-device-width: 800px) {
  .playlist-card {
    @include display-flex(column, space-between, normal);
    background-color: #f6f5f6;
    border: 5px solid black;
    text-decoration: none;
    color: #000;
    font-size: 2vh;
    padding: 10px;
    width: 67vw;
  }

  .remove-from-playlist-button {
    width: 50%;
  }
}