.shows-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 19px;
  width: 96vw;
  margin: 0;
}

.shows-page-heading {
  color: #FFF;
}

@media screen and (min-device-width: 0px) and (max-device-width: 800px) {
  .shows-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}