.navigation-container-tracks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.nav-link-container-tracks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 43vw;
  margin-left: 5%;
}

.nav-link-container-tracks > a {
  background-color: transparent;
  color: #FFF;
  font-family: inherit;
  font-size: 2vh;
  border: none;
  margin: 8%;
  text-decoration: none;
}

.random-show-link-tracks,
.back-to-shows-link {
  width: 20vw;
}

.random-show-link-tracks {
  margin-left: 0;
}

.navigation-container-tracks > button:hover {
  cursor: pointer;
}

@media screen and (min-device-width: 0px) and (max-device-width: 800px) {
  .navigation-container-tracks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 109%;
  }
}