@import '../styles/variables';
@import '../styles/mixins';

.navigation-container-tracks {
  @include display-flex(column, center, center);
  width: 100vw;
}

.nav-link-container-tracks {
  @include display-flex(row, center, center);
  width: 43vw;
  margin-left: 5%;
}

.nav-link-container-tracks > a {
  background-color: transparent;
  color: $mainTextColor;
  font-family: inherit;
  font-size: 2vh;
  border: none;
  margin: 8%;
  text-decoration: none;
  @include hover-transform();
}

.random-show-link-tracks,
.back-to-shows-link {
  width: 20vw;
}

.random-show-link-tracks {
  margin-left: 0;
}

@media screen and (min-device-width: 0px) and (max-device-width: 800px) {
  .navigation-container-tracks {
    @include display-flex(column, center, center);
    width: 109%;
  }
}