@import '../styles/mixins';

.years-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  padding: 19px;
  width: 96vw;
  margin: 0;
}


@media screen and (min-device-width: 0px) and (max-device-width: 800px) {
  .years-container {
    @include display-flex(column, flex-start, center);
    width: 100%;
  }
}