// button {
// 	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
//     -webkit-font-smoothing: antialiased;
// }

.navigation-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-container > button {
  background-color: transparent;
  color: #FFF;
  font-family: inherit;
  font-size: 2vh;
  border: none;
  margin: 1%;
}

.navigation-container > button:hover {
  cursor: pointer;
}