.navigation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-link-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 23vw;
}

.nav-link-container > button {
  background-color: transparent;
  color: #FFF;
  font-family: inherit;
  font-size: 2vh;
  border: none;
  margin: 8%;
}

.random-show-link {
  width: 20vw;
}

.navigation-container > button:hover {
  cursor: pointer;
}