@import '../styles/variables';
@import '../styles/mixins';

.navigation-container-home {
  @include display-flex(column, center, center);
  width: 100%;
}

.nav-link-container-home {
  @include display-flex(row, center, normal);
  width: 23vw;
}

.nav-link-container-home > a {
  color: $mainTextColor;
  font-family: inherit;
  font-size: 2vh;
  border: none;
  margin: 8%;
  text-decoration: none;
}

.random-show-link-home {
  width: 10vw;
  background: none;
  @include hover-transform();
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@media screen and (min-device-width: 0px) and (max-device-width: 800px) {
  .navigation-container-home {
    @include display-flex(column, center, center);
    width: 109%;
  }

  .random-show-link-home {
    width: 20vw;
  }
}