body { 
  background-image: url('./assets/backdrop.jpeg'); 
  background-repeat: no-repeat; 
  background-position: center;
  background-attachment: fixed;       
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%; 
}   

.App {
  text-align: center;
  font-family: 'Michroma', sans-serif;
}

h1 {
  margin: 0;
  color: #FFF;
  font-size: 7vh;
}

.fetch-error-message {
  color: #FFF;
}
