body {
  height: 100vh;
  width: auto;
  background-image: url('./assets/backdrop.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  text-align: center;
  font-family: 'Michroma', sans-serif;
  font-size: 5vh;
}

h1 {
  margin: 0;
  color: #FFF
}